In [92]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [93]:
ssw = pd.read_csv('Skillswap_Data_Raw.csv')

ssw.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,Last_Seen,Response_Time,Programming_and_Software_Development_off,Project_Management_off,Accounting_and_Finance_off,Marketing_and_Advertising_off,Sales_and_Customer_Service_off,Human_Resources_and_Leadership_off,Graphic_Design_and_Illustration_off,Photography_and_Photo_Editing_off,Music_instruments_Composition_and_Production_off,Writing_and_Editing_off,Arts_and_Crafts_and_DIY_Projects_off,Learning_Foreign_Languages_off,Written_and_Oral_Communication_in_Various_Languages_off,Interpretation_and_Translation_off,Computer_and_Software_Application_Operation_off,Network_Administration_and_IT_Support_off,Electronics_and_Robotics_off,Web_Design_and_Development_off,Data_Analysis_and_Visualization_off,Interpersonal_Communication_off,Conflict_Resolution_and_Mediation_off,Empathy_and_Emotional_Intelligence_off,Leadership_Skills_and_Teamwork_off,Networking_and_Relationship_Management_off,Cooking_and_Baking_off,Gardening_and_Farming_off,DIY_and_Repairs_off,Driving_and_Vehicle_Maintenance_off,First_Aid_and_Life_Saving_Techniques_off,Mathematics_and_Sciences_off,History_and_Social_Sciences_off,Literature_and_Philosophy_off,Research_Methods_and_Academic_Writing_off,Academic_Reading_and_Critique_off,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,Count_Arts_and_Crafts_and_DIY_Projects_off,Count_Learning_Foreign_Languages_off,Count_Written_and_Oral_Communication_in_Various_Languages_off,Count_Interpretation_and_Translation_off,Count_Computer_and_Software_Application_Operation_off,Count_Network_Administration_and_IT_Support_off,Count_Electronics_and_Robotics_off,Count_Web_Design_and_Development_off,Count_Data_Analysis_and_Visualization_off,Count_Interpersonal_Communication_off,Count_Conflict_Resolution_and_Mediation_off,Count_Empathy_and_Emotional_Intelligence_off,Count_Leadership_Skills_and_Teamwork_off,Count_Networking_and_Relationship_Management_off,Count_Cooking_and_Baking_off,Count_Gardening_and_Farming_off,Count_DIY_and_Repairs_off,Count_Driving_and_Vehicle_Maintenance_off,Count_First_Aid_and_Life_Saving_Techniques_off,Count_Mathematics_and_Sciences_off,Count_History_and_Social_Sciences_off,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Sum_Skills_Off,Sum_Skills_Rec,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,Łukasz,łukasz.sezgin@gmx.de,25,Female,Local or Remote,52.376172,13.581876,Germany,Berlin,"['German', 'Portuguese', 'Russian', 'Mandarin ...",Recently,Within a week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Novice,Novice,Beginner,Advanced,Expert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Novice,Novice,Advanced,Novice,Beginner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied
1,Bianca,bianca.herrmann@icloud.com,25,Male,Remote Only,52.644114,13.648641,Germany,Berlin,"['Mandarin Chinese', 'Turkish', 'Romanian', 'J...",Within a Week,More than a month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Expert,Novice,Expert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,11.0,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average
2,Adlan,adlan.jacobi jäckel@gmx.de,21,Female,Local or Remote,52.531250,13.125491,Germany,Berlin,['Spanish'],Within a Week,Within 24 hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beginner,Advanced,Novice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Novice,Novice,Beginner,Novice,Intermediate,Expert,Beginner,Beginner,Novice,Novice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,2.0,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average
3,Emilio,emilio.alemdar@web.de,28,Female,Local or Remote,52.450986,13.199572,Germany,Berlin,"['German', 'Spanish', 'Portuguese', 'Polish']",Within a Week,Within a month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Novice,Novice,Expert,Novice,Intermediate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied
4,Valentin,valentin.çetin@t-online.de,31,Male,Local or Remote,52.599578,13.277228,Germany,Berlin,"['Mandarin Chinese', 'Hindi', 'Turkish']",Within a Week,Within a week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beginner,Intermediate,Intermediate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beginner,Novice,Expert,Beginner,Novice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,6.0,6.0,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average

In [94]:
ssw.info(96)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 97 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   First_Name                                                     750 non-null    object
 1   EMail                                                          750 non-null    object
 2   Age                                                            750 non-null    int64
 3   Gender                                                         750 non-null    object
 4   Location_Preferences                                           750 non-null    object
 5   Latitude                                                       750 non-null    float64
 6   Longitude                                                      750 non-null    float64
 7   Country                                                        750 non-null    object
 8   City                                                           750 non-null    object
 9   Languages_Preferred                                            750 non-null    object
 10  Last_Seen                                                      750 non-null    object
 11  Response_Time                                                  750 non-null    object
 12  Programming_and_Software_Development_off                       184 non-null    object
 13  Project_Management_off                                         184 non-null    object
 14  Accounting_and_Finance_off                                     184 non-null    object
 15  Marketing_and_Advertising_off                                  184 non-null    object
 16  Sales_and_Customer_Service_off                                 184 non-null    object
 17  Human_Resources_and_Leadership_off                             184 non-null    object
 18  Graphic_Design_and_Illustration_off                            179 non-null    object
 19  Photography_and_Photo_Editing_off                              179 non-null    object
 20  Music_instruments_Composition_and_Production_off               179 non-null    object
 21  Writing_and_Editing_off                                        179 non-null    object
 22  Arts_and_Crafts_and_DIY_Projects_off                           179 non-null    object
 23  Learning_Foreign_Languages_off                                 166 non-null    object
 24  Written_and_Oral_Communication_in_Various_Languages_off        166 non-null    object
 25  Interpretation_and_Translation_off                             166 non-null    object
 26  Computer_and_Software_Application_Operation_off                193 non-null    object
 27  Network_Administration_and_IT_Support_off                      193 non-null    object
 28  Electronics_and_Robotics_off                                   193 non-null    object
 29  Web_Design_and_Development_off                                 193 non-null    object
 30  Data_Analysis_and_Visualization_off                            193 non-null    object
 31  Interpersonal_Communication_off                                176 non-null    object
 32  Conflict_Resolution_and_Mediation_off                          176 non-null    object
 33  Empathy_and_Emotional_Intelligence_off                         176 non-null    object
 34  Leadership_Skills_and_Teamwork_off                             176 non-null    object
 35  Networking_and_Relationship_Management_off                     176 non-null    object
 36  Cooking_and_Baking_off                                         200 non-null    object
 37  Gardening_and_Farming_off                                      200 non-null    object
 38  DIY_and_Repairs_off                                            200 non-null    object
 39  Driving_and_Vehicle_Maintenance_off                            200 non-null    object
 40  First_Aid_and_Life_Saving_Techniques_off                       200 non-null    object
 41  Mathematics_and_Sciences_off                                   193 non-null    object
 42  History_and_Social_Sciences_off                                193 non-null    object
 43  Literature_and_Philosophy_off                                  193 non-null    object
 44  Research_Methods_and_Academic_Writing_off                      193 non-null    object
 45  Academic_Reading_and_Critique_off                              193 non-null    object
 46  Time_Management_and_Organization_off                           196 non-null    object
 47  Stress_Management_and_Mindfulness_off                          196 non-null    object
 48  Financial_Planning_and_Budgeting_off                           196 non-null    object
 49  Self_Defense_and_Personal_Safety_off                           196 non-null    object
 50  Healthcare_and_Nutrition_off                                   196 non-null    object
 51  Count_Programming_and_Software_Development_off                 17 non-null     float64
 52  Count_Project_Management_off                                   21 non-null     float64
 53  Count_Accounting_and_Finance_off                               18 non-null     float64
 54  Count_Marketing_and_Advertising_off                            13 non-null     float64
 55  Count_Sales_and_Customer_Service_off                           12 non-null     float64
 56  Count_Human_Resources_and_Leadership_off                       22 non-null     float64
 57  Count_Graphic_Design_and_Illustration_off                      22 non-null     float64
 58  Count_Photography_and_Photo_Editing_off                        26 non-null     float64
 59  Count_Music_instruments_Composition_and_Production_off         17 non-null     float64
 60  Count_Writing_and_Editing_off                                  18 non-null     float64
 61  Count_Arts_and_Crafts_and_DIY_Projects_off                     19 non-null     float64
 62  Count_Learning_Foreign_Languages_off                           18 non-null     float64
 63  Count_Written_and_Oral_Communication_in_Various_Languages_off  27 non-null     float64
 64  Count_Interpretation_and_Translation_off                       22 non-null     float64
 65  Count_Computer_and_Software_Application_Operation_off          12 non-null     float64
 66  Count_Network_Administration_and_IT_Support_off                18 non-null     float64
 67  Count_Electronics_and_Robotics_off                             17 non-null     float64
 68  Count_Web_Design_and_Development_off                           25 non-null     float64
 69  Count_Data_Analysis_and_Visualization_off                      34 non-null     float64
 70  Count_Interpersonal_Communication_off                          24 non-null     float64
 71  Count_Conflict_Resolution_and_Mediation_off                    12 non-null     float64
 72  Count_Empathy_and_Emotional_Intelligence_off                   21 non-null     float64
 73  Count_Leadership_Skills_and_Teamwork_off                       15 non-null     float64
 74  Count_Networking_and_Relationship_Management_off               15 non-null     float64
 75  Count_Cooking_and_Baking_off                                   20 non-null     float64
 76  Count_Gardening_and_Farming_off                                12 non-null     float64
 77  Count_DIY_and_Repairs_off                                      28 non-null     float64
 78  Count_Driving_and_Vehicle_Maintenance_off                      16 non-null     float64
 79  Count_First_Aid_and_Life_Saving_Techniques_off                 21 non-null     float64
 80  Count_Mathematics_and_Sciences_off                             18 non-null     float64
 81  Count_History_and_Social_Sciences_off                          20 non-null     float64
 82  Count_Literature_and_Philosophy_off                            20 non-null     float64
 83  Count_Research_Methods_and_Academic_Writing_off                19 non-null     float64
 84  Count_Academic_Reading_and_Critique_off                        18 non-null     float64
 85  Count_Time_Management_and_Organization_off                     18 non-null     float64
 86  Count_Stress_Management_and_Mindfulness_off                    21 non-null     float64
 87  Count_Financial_Planning_and_Budgeting_off                     21 non-null     float64
 88  Count_Self_Defense_and_Personal_Safety_off                     13 non-null     float64
 89  Count_Healthcare_and_Nutrition_off                             20 non-null     float64
 90  Sum_Skills_Off                                                 750 non-null    float64
 91  Sum_Skills_Rec                                                 750 non-null    float64
 92  Usability                                                      750 non-null    object
 93  Speed_Performance                                              750 non-null    object
 94  Feature_Satisfaction                                           750 non-null    object
 95  Security_Satisfaction                                          750 non-null    object
 96  Customer_Support                                               750 non-null    object
dtypes: float64(43), int64(1), object(53)
memory usage: 568.5+ KB

In [95]:
ssw.describe()

,Age,Latitude,Longitude,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,Count_Arts_and_Crafts_and_DIY_Projects_off,Count_Learning_Foreign_Languages_off,Count_Written_and_Oral_Communication_in_Various_Languages_off,Count_Interpretation_and_Translation_off,Count_Computer_and_Software_Application_Operation_off,Count_Network_Administration_and_IT_Support_off,Count_Electronics_and_Robotics_off,Count_Web_Design_and_Development_off,Count_Data_Analysis_and_Visualization_off,Count_Interpersonal_Communication_off,Count_Conflict_Resolution_and_Mediation_off,Count_Empathy_and_Emotional_Intelligence_off,Count_Leadership_Skills_and_Teamwork_off,Count_Networking_and_Relationship_Management_off,Count_Cooking_and_Baking_off,Count_Gardening_and_Farming_off,Count_DIY_and_Repairs_off,Count_Driving_and_Vehicle_Maintenance_off,Count_First_Aid_and_Life_Saving_Techniques_off,Count_Mathematics_and_Sciences_off,Count_History_and_Social_Sciences_off,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Sum_Skills_Off,Sum_Skills_Rec
count,750.000000,750.000000,750.000000,17.000000,21.000000,18.000000,13.000000,12.00000,22.000000,22.000000,26.000000,17.000000,18.000000,19.000000,18.000000,27.00000,22.000000,12.000000,18.000000,17.000000,25.000000,34.000000,24.000000,12.000000,21.000000,15.000000,15.000000,20.000000,12.000000,28.000000,16.000000,21.000000,18.000000,20.000000,20.000000,19.000000,18.000000,18.000000,21.000000,21.000000,13.000000,20.000000,750.000000,750.000000
mean,26.476000,52.505243,13.424002,12.470588,9.142857,7.111111,8.846154,11.75000,10.181818,10.590909,8.615385,5.352941,14.111111,10.157895,9.500000,11.62963,9.000000,12.416667,12.555556,11.705882,10.800000,9.264706,10.458333,8.666667,9.857143,13.266667,10.333333,11.500000,10.833333,9.392857,10.750000,10.571429,13.111111,8.700000,7.900000,11.157895,12.055556,11.666667,10.428571,9.904762,4.000000,8.050000,10.172000,10.172000
std,2.093626,0.097731,0.193477,8.860852,9.435495,8.050494,9.081539,8.00142,8.375909,9.624666,8.676759,5.555866,9.833250,7.017939,7.318389,9.03901,7.393691,10.500721,8.132883,9.115678,8.612007,8.599890,7.276999,5.851703,9.106513,9.691430,7.315997,8.475972,8.768055,7.020284,7.056912,8.605646,9.015600,6.790861,8.613942,8.751274,6.566154,6.588760,7.513797,8.196980,4.301163,7.351871,8.188273,8.213019
min,21.000000,52.339196,13.088654,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,52.419247,13.252727,5.000000,0.000000,0.000000,0.000000,5.50000,2.750000,0.250000,2.250000,0.000000,7.500000,7.000000,2.750000,4.00000,0.750000,3.750000,5.250000,5.000000,5.000000,3.000000,6.250000,3.750000,0.000000,5.000000,5.000000,3.250000,5.250000,4.750000,6.500000,3.000000,7.500000,2.500000,1.750000,5.500000,7.500000,7.500000,4.000000,4.000000,0.000000,2.000000,3.000000,2.000000
50%,27.000000,52.500041,13.421178,14.000000,7.000000,5.000000,11.000000,13.50000,9.000000,12.000000,6.500000,3.000000,12.500000,10.000000,10.500000,11.00000,8.500000,11.500000,13.500000,12.000000,11.000000,8.000000,10.500000,9.500000,9.000000,13.000000,9.000000,13.000000,8.500000,9.500000,12.000000,9.000000,12.500000,8.000000,3.500000,11.000000,12.500000,12.500000,11.000000,11.000000,2.000000,7.500000,10.000000,9.500000
75%,28.000000,52.592218,13.585990,19.000000,13.000000,11.500000,18.000000,17.00000,15.000000,17.000000,11.000000,10.000000,16.750000,14.000000,12.750000,18.50000,14.750000,22.000000,18.500000,15.000000,14.000000,13.000000,15.000000,15.000000,18.000000,20.000000,14.000000,17.250000,19.250000,14.250000,16.000000,14.000000,20.000000,14.250000,12.750000,15.500000,16.750000,15.000000,17.000000,13.000000,6.000000,10.000000,15.000000,15.000000
max,32.000000,52.672040,13.759462,26.000000,29.000000,28.000000,22.000000,26.00000,29.000000,28.000000,30.000000,18.000000,34.000000,25.000000,25.000000,31.00000,26.000000,30.000000,25.000000,30.000000,33.000000,31.000000,25.000000,16.000000,28.000000,29.000000,30.000000,27.000000,25.000000,25.000000,23.000000,30.000000,30.000000,20.000000,27.000000,34.000000,25.000000,23.000000,23.000000,27.000000,13.000000,25.000000,34.000000,37.000000

In [125]:
# Count nan values
pd.set_option('display.max_rows', None)
null_counts = ssw.isnull().sum()
null_counts_df = pd.DataFrame(null_counts, columns=['Null Count'])
null_counts_df.head(20)

                                          Null Count
First_Name                                         0
EMail                                              0
Age                                                0
Gender                                             0
Location_Preferences                               0
Latitude                                           0
Longitude                                          0
Country                                            0
City                                               0
Languages_Preferred                                0
Last_Seen                                          0
Response_Time                                      0
Programming_and_Software_Development_off         566
Project_Management_off                           566
Accounting_and_Finance_off                       566
Marketing_and_Advertising_off                    566
Sales_and_Customer_Service_off                   566
Human_Resources_and_Leadership_off               566
Graphic_Design_and_Illustration_off              571
Photography_and_Photo_Editing_off                571

In [97]:
# Count unique values
pd.set_option('display.max_rows', None)
unique_counts = ssw.nunique()
unique_counts_df = pd.DataFrame(unique_counts, columns=['Unique Count'])
unique_counts_df.head()

                      Unique Count
First_Name                     636
EMail                          750
Age                             12
Gender                           4
Location_Preferences             3

In [128]:
#Top 10 Teachers
ssw.sort_values(by="Sum_Skills_Off", ascending=False)[["First_Name", "Sum_Skills_Off"]].head(10)

    First_Name  Sum_Skills_Off
475    Kajetan            34.0
612   Victória            34.0
305      Élise            33.0
553    Michèle            31.0
342    Ricardo            31.0
263       Aral            31.0
322     Filipe            30.0
43      Seçgül            30.0
380  Ferdinand            30.0
641     Marcel            30.0

In [130]:
#Top 10 Learners
ssw.sort_values(by="Sum_Skills_Rec", ascending=False)[["First_Name", "Sum_Skills_Rec"]].head(10)

    First_Name  Sum_Skills_Rec
263       Aral            37.0
612   Victória            37.0
409    Mieszko            37.0
322     Filipe            36.0
585      Paola            35.0
342    Ricardo            34.0
475    Kajetan            34.0
386   Gilberto            32.0
711       Elfi            32.0
669   Clémence            32.0