In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a Dataframe, to count how many times a skill was offered
lists_dict = {
    "Count_Programming_and_Software_Development_off": [],
    "Count_Project_Management_off": [],
    "Count_Accounting_and_Finance_off": [],
    "Count_Marketing_and_Advertising_off": [],
    "Count_Sales_and_Customer_Service_off": [],
    "Count_Human_Resources_and_Leadership_off": [],
    "Count_Graphic_Design_and_Illustration_off": [],
    "Count_Photography_and_Photo_Editing_off": [],
    "Count_Music_instruments_Composition_and_Production_off": [],
    "Count_Writing_and_Editing_off": [],
    "Count_Arts_and_Crafts_and_DIY_Projects_off": [],
    "Count_Learning_Foreign_Languages_off": [],
    "Count_Written_and_Oral_Communication_in_Various_Languages_off": [],
    "Count_Interpretation_and_Translation_off": [],
    "Count_Computer_and_Software_Application_Operation_off": [],
    "Count_Network_Administration_and_IT_Support_off": [],
    "Count_Electronics_and_Robotics_off": [],
    "Count_Web_Design_and_Development_off": [],
    "Count_Data_Analysis_and_Visualization_off": [],
    "Count_Interpersonal_Communication_off": [],
    "Count_Conflict_Resolution_and_Mediation_off": [],
    "Count_Empathy_and_Emotional_Intelligence_off": [],
    "Count_Leadership_Skills_and_Teamwork_off": [],
    "Count_Networking_and_Relationship_Management_off": [],
    "Count_Cooking_and_Baking_off": [],
    "Count_Gardening_and_Farming_off": [],
    "Count_DIY_and_Repairs_off": [],
    "Count_Driving_and_Vehicle_Maintenance_off": [],
    "Count_First_Aid_and_Life_Saving_Techniques_off": [],
    "Count_Mathematics_and_Sciences_off": [],
    "Count_History_and_Social_Sciences_off": [],
    "Count_Literature_and_Philosophy_off": [],
    "Count_Research_Methods_and_Academic_Writing_off": [],
    "Count_Academic_Reading_and_Critique_off": [],
    "Count_Time_Management_and_Organization_off": [],
    "Count_Stress_Management_and_Mindfulness_off": [],
    "Count_Financial_Planning_and_Budgeting_off": [],
    "Count_Self_Defense_and_Personal_Safety_off": [],
    "Count_Healthcare_and_Nutrition_off": []
}

# Create DataFrame
Count_df = pd.DataFrame(lists_dict)

Count_df

Empty DataFrame
Columns: [Count_Programming_and_Software_Development_off, Count_Project_Management_off, Count_Accounting_and_Finance_off, Count_Marketing_and_Advertising_off, Count_Sales_and_Customer_Service_off, Count_Human_Resources_and_Leadership_off, Count_Graphic_Design_and_Illustration_off, Count_Photography_and_Photo_Editing_off, Count_Music_instruments_Composition_and_Production_off, Count_Writing_and_Editing_off, Count_Arts_and_Crafts_and_DIY_Projects_off, Count_Learning_Foreign_Languages_off, Count_Written_and_Oral_Communication_in_Various_Languages_off, Count_Interpretation_and_Translation_off, Count_Computer_and_Software_Application_Operation_off, Count_Network_Administration_and_IT_Support_off, Count_Electronics_and_Robotics_off, Count_Web_Design_and_Development_off, Count_Data_Analysis_and_Visualization_off, Count_Interpersonal_Communication_off, Count_Conflict_Resolution_and_Mediation_off, Count_Empathy_and_Emotional_Intelligence_off, Count_Leadership_Skills_and_Teamwork_off, Count_Networking_and_Relationship_Management_off, Count_Cooking_and_Baking_off, Count_Gardening_and_Farming_off, Count_DIY_and_Repairs_off, Count_Driving_and_Vehicle_Maintenance_off, Count_First_Aid_and_Life_Saving_Techniques_off, Count_Mathematics_and_Sciences_off, Count_History_and_Social_Sciences_off, Count_Literature_and_Philosophy_off, Count_Research_Methods_and_Academic_Writing_off, Count_Academic_Reading_and_Critique_off, Count_Time_Management_and_Organization_off, Count_Stress_Management_and_Mindfulness_off, Count_Financial_Planning_and_Budgeting_off, Count_Self_Defense_and_Personal_Safety_off, Count_Healthcare_and_Nutrition_off]
Index: []

[0 rows x 39 columns]

In [3]:
Skill_Exchange_Offered = pd.read_csv('Skill_Exchange_Offered.csv')
Skill_Exchange_Offered

,Programming_and_Software_Development_off,Project_Management_off,Accounting_and_Finance_off,Marketing_and_Advertising_off,Sales_and_Customer_Service_off,Human_Resources_and_Leadership_off,Graphic_Design_and_Illustration_off,Photography_and_Photo_Editing_off,Music_instruments_Composition_and_Production_off,Writing_and_Editing_off,...,Literature_and_Philosophy_off,Research_Methods_and_Academic_Writing_off,Academic_Reading_and_Critique_off,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Expert_skill,Matched_skills_samples
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Beginner,Intermediate,Novice,Beginner,Expert,Healthcare_and_Nutrition_off,"['Time_Management_and_Organization_off', 'Stre..."
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Novice,Advanced,Advanced,Beginner,Beginner,Electronics_and_Robotics_off,['Computer_and_Software_Application_Operation_...
2,Novice,Beginner,Novice,Expert,Expert,Intermediate,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marketing_and_Advertising_off,"['Programming_and_Software_Development_off', '..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cooking_and_Baking_off,"['Gardening_and_Farming_off', 'DIY_and_Repairs..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Expert,Novice,Intermediate,Novice,Novice,Leadership_Skills_and_Teamwork_off,"['Time_Management_and_Organization_off', 'Stre..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Expert,Novice,Novice,NaN,NaN,NaN,NaN,NaN,Literature_and_Philosophy_off,"['Learning_Foreign_Languages_off', 'Written_an..."
746,Intermediate,Expert,Advanced,Beginner,Expert,Novice,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Novice,Beginner,Intermediate,Novice,Novice,Sales_and_Customer_Service_off,"['Programming_and_Software_Development_off', '..."
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Intermediate,Expert,Intermediate,Intermediate,Intermediate,Stress_Management_and_Mindfulness_off,"['Time_Management_and_Organization_off', 'Fina..."
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Expert,Novice,Intermediate,NaN,NaN,NaN,NaN,NaN,Literature_and_Philosophy_off,['Computer_and_Software_Application_Operation_...
749,Novice,Intermediate,Expert,Novice,Beginner,Novice,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accounting_and_Finance_off,"['Programming_and_Software_Development_off', '..."

In [4]:
# Take Expert_Skill DF to see where a person can teach
expert_skill = pd.DataFrame(Skill_Exchange_Offered, columns=["Expert_skill"])
expert_skill['Expert_skill'] = expert_skill['Expert_skill'].apply(lambda x: 'Count_' + str(x))
expert_skill

                                    Expert_skill
0             Count_Healthcare_and_Nutrition_off
1             Count_Electronics_and_Robotics_off
2            Count_Marketing_and_Advertising_off
3                   Count_Cooking_and_Baking_off
4       Count_Leadership_Skills_and_Teamwork_off
..                                           ...
745          Count_Literature_and_Philosophy_off
746         Count_Sales_and_Customer_Service_off
747  Count_Stress_Management_and_Mindfulness_off
748          Count_Literature_and_Philosophy_off
749             Count_Accounting_and_Finance_off

[750 rows x 1 columns]

In [5]:
concatenated_df = pd.concat([Count_df, expert_skill], axis=1)
concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_History_and_Social_Sciences_off,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Healthcare_and_Nutrition_off
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Electronics_and_Robotics_off
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Marketing_and_Advertising_off
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Cooking_and_Baking_off
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Leadership_Skills_and_Teamwork_off
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Sales_and_Customer_Service_off
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Stress_Management_and_Mindfulness_off
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off
749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Accounting_and_Finance_off

In [6]:
# For every user add a random number of lessons taught for his/her expert skill

for index, row in concatenated_df.iterrows():
    expert_skill = row['Expert_skill']
    matching_column = str(expert_skill)
    random_number = max(0, int(np.random.normal(10, 10)))
    concatenated_df.at[index, matching_column] = random_number

concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_History_and_Social_Sciences_off,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,Count_Healthcare_and_Nutrition_off
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Electronics_and_Robotics_off
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Marketing_and_Advertising_off
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Cooking_and_Baking_off
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Leadership_Skills_and_Teamwork_off
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off
746,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Sales_and_Customer_Service_off
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,Count_Stress_Management_and_Mindfulness_off
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off
749,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Accounting_and_Finance_off

In [7]:
concatenated_df_numeric = concatenated_df.apply(pd.to_numeric, errors='coerce')
numeric_columns = concatenated_df_numeric.select_dtypes(include=np.number)
concatenated_df['Sum_Skills_Off'] = numeric_columns.sum(axis=1)
concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill,Sum_Skills_Off
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,Count_Healthcare_and_Nutrition_off,20.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Electronics_and_Robotics_off,6.0
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Marketing_and_Advertising_off,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Cooking_and_Baking_off,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Leadership_Skills_and_Teamwork_off,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off,24.0
746,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Sales_and_Customer_Service_off,6.0
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,Count_Stress_Management_and_Mindfulness_off,12.0
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off,9.0
749,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Accounting_and_Finance_off,15.0

In [8]:
# Step 1: Calculate the sum of the "Sum_Skills_off" column
# Step 2: Generate random numbers for "Sum_Skills_rec" column
# Generate a random number between 80% and 120% of the corresponding value in "Sum_Skills_off" (to ensure a max deviation of 20%)
# Step 3: Adjust the values of the "Sum_Skills_rec" column to match the sum of "Sum_Skills_off"
# Randomly adjust values to match the sum of "Sum_Skills_off" (+ ensure the new value is not negative)


sum_skills_off_sum = concatenated_df['Sum_Skills_Off'].sum()

for index, row in concatenated_df.iterrows():
    min_value = int(0.8 * row['Sum_Skills_Off'])
    max_value = int(1.2 * row['Sum_Skills_Off'])
    if min_value < max_value:
        random_number = np.random.randint(min_value, max_value + 1)  
    else:
        random_number = min_value
    concatenated_df.at[index, 'Sum_Skills_Rec'] = random_number

sum_skills_rec_sum = concatenated_df['Sum_Skills_Rec'].sum()

difference = sum_skills_off_sum - sum_skills_rec_sum
if difference != 0:
    while difference != 0:
        index = np.random.randint(len(concatenated_df))
        current_value = concatenated_df.at[index, 'Sum_Skills_Rec']
        new_value = current_value + np.sign(difference)
        if new_value >= 0:  
            concatenated_df.at[index, 'Sum_Skills_Rec'] = new_value
            difference -= np.sign(difference)

concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill,Sum_Skills_Off,Sum_Skills_Rec
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,Count_Healthcare_and_Nutrition_off,20.0,18.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Electronics_and_Robotics_off,6.0,6.0
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Marketing_and_Advertising_off,1.0,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Cooking_and_Baking_off,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Leadership_Skills_and_Teamwork_off,22.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off,24.0,23.0
746,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Sales_and_Customer_Service_off,6.0,4.0
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,Count_Stress_Management_and_Mindfulness_off,12.0,10.0
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Literature_and_Philosophy_off,9.0,8.0
749,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Accounting_and_Finance_off,15.0,15.0

In [9]:
# Skills offered and received must be balanced
print(concatenated_df['Sum_Skills_Off'].sum())
print(concatenated_df['Sum_Skills_Rec'].sum())

8473.0
8473.0

In [13]:
skill_domains = [
    "Professional_Skills",
    "Creative_Skills",
    "Language_Skills",
    "Technical_Skills",
    "Social_Skills",
    "Practical_Skills",
    "Academic_Skills",
    "Life_Skills"
]

skills_df = pd.DataFrame(columns=skill_domains)

skills_df.head()

Empty DataFrame
Columns: [Professional_Skills, Creative_Skills, Language_Skills, Technical_Skills, Social_Skills, Practical_Skills, Academic_Skills, Life_Skills]
Index: []

In [18]:
concatenated_df2 = pd.concat([concatenated_df, skills_df], axis=1)
concatenated_df2.head()

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Sum_Skills_Rec,Domain,Professional_Skills,Creative_Skills,Language_Skills,Technical_Skills,Social_Skills,Practical_Skills,Academic_Skills,Life_Skills
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,Life_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,Technical_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Professional_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,Practical_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,Social_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Skill domains and respective skills
skills_dict = {
    'Professional_Skills': [
        'Count_Programming_and_Software_Development_off',
        'Count_Project_Management_off',
        'Count_Accounting_and_Finance_off',
        'Count_Marketing_and_Advertising_off',
        'Count_Sales_and_Customer_Service_off',
        'Count_Human_Resources_and_Leadership_off'
    ],
    'Creative_Skills': [
        'Count_Graphic_Design_and_Illustration_off',
        'Count_Photography_and_Photo_Editing_off',
        'Count_Music_instruments_Composition_and_Production_off',
        'Count_Writing_and_Editing_off',
        'Count_Arts_and_Crafts_and_DIY_Projects_off'
    ],
    'Language_Skills': [
        'Count_Learning_Foreign_Languages_off',
        'Count_Written_and_Oral_Communication_in_Various_Languages_off',
        'Count_Interpretation_and_Translation_off'
    ],
    'Technical_Skills': [
        'Count_Computer_and_Software_Application_Operation_off',
        'Count_Network_Administration_and_IT_Support_off',
        'Count_Electronics_and_Robotics_off',
        'Count_Web_Design_and_Development_off',
        'Count_Data_Analysis_and_Visualization_off'
    ],
    'Social_Skills': [
        'Count_Interpersonal_Communication_off',
        'Count_Conflict_Resolution_and_Mediation_off',
        'Count_Empathy_and_Emotional_Intelligence_off',
        'Count_Leadership_Skills_and_Teamwork_off',
        'Count_Networking_and_Relationship_Management_off'
    ],
    'Practical_Skills': [
        'Count_Cooking_and_Baking_off',
        'Count_Gardening_and_Farming_off',
        'Count_DIY_and_Repairs_off',
        'Count_Driving_and_Vehicle_Maintenance_off',
        'Count_First_Aid_and_Life_Saving_Techniques_off'
    ],
    'Academic_Skills': [
        'Count_Mathematics_and_Sciences_off',
        'Count_History_and_Social_Sciences_off',
        'Count_Literature_and_Philosophy_off',
        'Count_Research_Methods_and_Academic_Writing_off',
        'Count_Academic_Reading_and_Critique_off'
    ],
    'Life_Skills': [
        'Count_Time_Management_and_Organization_off',
        'Count_Stress_Management_and_Mindfulness_off',
        'Count_Financial_Planning_and_Budgeting_off',
        'Count_Self_Defense_and_Personal_Safety_off',
        'Count_Healthcare_and_Nutrition_off'
    ]
}

In [20]:
# Create a new column called "domain"
# Iterate over each row in the DataFrame
# Iterate over each category in the skills_dict
# Check if the expert_skill matches any skill in the category
# Assign the category to the "domain" column
# Exit the loop once a match is found


concatenated_df2['Domain'] = None

for index, row in concatenated_df2.iterrows():
    expert_skill = row['Expert_skill']
    for category, skills in skills_dict.items():
        if any(expert_skill == skill for skill in skills):
            concatenated_df2.at[index, 'Domain'] = category
            break  

concatenated_df2.head()

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Sum_Skills_Rec,Domain,Professional_Skills,Creative_Skills,Language_Skills,Technical_Skills,Social_Skills,Practical_Skills,Academic_Skills,Life_Skills
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,Life_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,Technical_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Professional_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,Practical_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,Social_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Iterate over each row in the DataFrame
# Check if the domain column exists in the DataFrame
# Copy the value from the "Sum_Skills_off" column to the matched column


for index, row in concatenated_df2.iterrows():
    domain = row['Domain']
    sum_skills_off = row['Sum_Skills_Off']
    
    if domain in concatenated_df2.columns:
        concatenated_df2.at[index, domain] = int(sum_skills_off)

concatenated_df2.head()

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Sum_Skills_Rec,Domain,Professional_Skills,Creative_Skills,Language_Skills,Technical_Skills,Social_Skills,Practical_Skills,Academic_Skills,Life_Skills
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,Life_Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,Technical_Skills,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Professional_Skills,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,Practical_Skills,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,Social_Skills,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN

In [51]:
concatenated_df2.drop(columns=['Expert_skill','Domain'], inplace=True)
concatenated_df2.to_csv('Track_Record.csv', index=False)