In [42]:
import pandas as pd
import numpy as np

In [43]:
# Create a Dataframe, to count how many times a skill was offered
lists_dict = {
    "Count_Programming_and_Software_Development_off": [],
    "Count_Project_Management_off": [],
    "Count_Accounting_and_Finance_off": [],
    "Count_Marketing_and_Advertising_off": [],
    "Count_Sales_and_Customer_Service_off": [],
    "Count_Human_Resources_and_Leadership_off": [],
    "Count_Graphic_Design_and_Illustration_off": [],
    "Count_Photography_and_Photo_Editing_off": [],
    "Count_Music_instruments_Composition_and_Production_off": [],
    "Count_Writing_and_Editing_off": [],
    "Count_Arts_and_Crafts_and_DIY_Projects_off": [],
    "Count_Learning_Foreign_Languages_off": [],
    "Count_Written_and_Oral_Communication_in_Various_Languages_off": [],
    "Count_Interpretation_and_Translation_off": [],
    "Count_Computer_and_Software_Application_Operation_off": [],
    "Count_Network_Administration_and_IT_Support_off": [],
    "Count_Electronics_and_Robotics_off": [],
    "Count_Web_Design_and_Development_off": [],
    "Count_Data_Analysis_and_Visualization_off": [],
    "Count_Interpersonal_Communication_off": [],
    "Count_Conflict_Resolution_and_Mediation_off": [],
    "Count_Empathy_and_Emotional_Intelligence_off": [],
    "Count_Leadership_Skills_and_Teamwork_off": [],
    "Count_Networking_and_Relationship_Management_off": [],
    "Count_Cooking_and_Baking_off": [],
    "Count_Gardening_and_Farming_off": [],
    "Count_DIY_and_Repairs_off": [],
    "Count_Driving_and_Vehicle_Maintenance_off": [],
    "Count_First_Aid_and_Life_Saving_Techniques_off": [],
    "Count_Mathematics_and_Sciences_off": [],
    "Count_History_and_Social_Sciences_off": [],
    "Count_Literature_and_Philosophy_off": [],
    "Count_Research_Methods_and_Academic_Writing_off": [],
    "Count_Academic_Reading_and_Critique_off": [],
    "Count_Time_Management_and_Organization_off": [],
    "Count_Stress_Management_and_Mindfulness_off": [],
    "Count_Financial_Planning_and_Budgeting_off": [],
    "Count_Self_Defense_and_Personal_Safety_off": [],
    "Count_Healthcare_and_Nutrition_off": []
}

# Create DataFrame
Count_df = pd.DataFrame(lists_dict)

Count_df

Empty DataFrame
Columns: [Count_Programming_and_Software_Development_off, Count_Project_Management_off, Count_Accounting_and_Finance_off, Count_Marketing_and_Advertising_off, Count_Sales_and_Customer_Service_off, Count_Human_Resources_and_Leadership_off, Count_Graphic_Design_and_Illustration_off, Count_Photography_and_Photo_Editing_off, Count_Music_instruments_Composition_and_Production_off, Count_Writing_and_Editing_off, Count_Arts_and_Crafts_and_DIY_Projects_off, Count_Learning_Foreign_Languages_off, Count_Written_and_Oral_Communication_in_Various_Languages_off, Count_Interpretation_and_Translation_off, Count_Computer_and_Software_Application_Operation_off, Count_Network_Administration_and_IT_Support_off, Count_Electronics_and_Robotics_off, Count_Web_Design_and_Development_off, Count_Data_Analysis_and_Visualization_off, Count_Interpersonal_Communication_off, Count_Conflict_Resolution_and_Mediation_off, Count_Empathy_and_Emotional_Intelligence_off, Count_Leadership_Skills_and_Teamwork_off, Count_Networking_and_Relationship_Management_off, Count_Cooking_and_Baking_off, Count_Gardening_and_Farming_off, Count_DIY_and_Repairs_off, Count_Driving_and_Vehicle_Maintenance_off, Count_First_Aid_and_Life_Saving_Techniques_off, Count_Mathematics_and_Sciences_off, Count_History_and_Social_Sciences_off, Count_Literature_and_Philosophy_off, Count_Research_Methods_and_Academic_Writing_off, Count_Academic_Reading_and_Critique_off, Count_Time_Management_and_Organization_off, Count_Stress_Management_and_Mindfulness_off, Count_Financial_Planning_and_Budgeting_off, Count_Self_Defense_and_Personal_Safety_off, Count_Healthcare_and_Nutrition_off]
Index: []

[0 rows x 39 columns]

In [44]:
Skill_Exchange_Offered = pd.read_csv('Skill_Exchange_Offered.csv')
Skill_Exchange_Offered

,Programming_and_Software_Development_off,Project_Management_off,Accounting_and_Finance_off,Marketing_and_Advertising_off,Sales_and_Customer_Service_off,Human_Resources_and_Leadership_off,Graphic_Design_and_Illustration_off,Photography_and_Photo_Editing_off,Music_instruments_Composition_and_Production_off,Writing_and_Editing_off,...,Literature_and_Philosophy_off,Research_Methods_and_Academic_Writing_off,Academic_Reading_and_Critique_off,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Expert_skill,Matched_skills_samples
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Advanced,Novice,Beginner,NaN,NaN,NaN,NaN,NaN,Data_Analysis_and_Visualization_off,['Computer_and_Software_Application_Operation_...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Learning_Foreign_Languages_off,['Written_and_Oral_Communication_in_Various_La...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Beginner,Novice,Intermediate,Expert,Beginner,Beginner,Novice,Novice,Time_Management_and_Organization_off,"['Learning_Foreign_Languages_off', 'Written_an..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DIY_and_Repairs_off,"['Cooking_and_Baking_off', 'Gardening_and_Farm..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Beginner,Novice,Expert,Beginner,Novice,Financial_Planning_and_Budgeting_off,"['Learning_Foreign_Languages_off', 'Written_an..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,Intermediate,Beginner,Novice,Intermediate,Beginner,Intermediate,Novice,Expert,Intermediate,Novice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Photography_and_Photo_Editing_off,"['Programming_and_Software_Development_off', '..."
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Intermediate,Novice,Expert,Novice,Advanced,Financial_Planning_and_Budgeting_off,"['Time_Management_and_Organization_off', 'Stre..."
747,NaN,NaN,NaN,NaN,NaN,NaN,Intermediate,Novice,Intermediate,Novice,...,NaN,NaN,NaN,Novice,Advanced,Intermediate,Intermediate,Intermediate,Interpretation_and_Translation_off,"['Graphic_Design_and_Illustration_off', 'Photo..."
748,NaN,NaN,NaN,NaN,NaN,NaN,Advanced,Novice,Expert,Novice,...,Advanced,Beginner,Novice,NaN,NaN,NaN,NaN,NaN,Music_instruments_Composition_and_Production_off,"['Cooking_and_Baking_off', 'Gardening_and_Farm..."
749,NaN,NaN,NaN,NaN,NaN,NaN,Advanced,Advanced,Novice,Novice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Computer_and_Software_Application_Operation_off,"['Graphic_Design_and_Illustration_off', 'Photo..."

In [45]:
# Take Expert_Skill DF to see where a person can teach
expert_skill = pd.DataFrame(Skill_Exchange_Offered, columns=["Expert_skill"])
expert_skill['Expert_skill'] = expert_skill['Expert_skill'].apply(lambda x: 'Count_' + str(x))
expert_skill

                                          Expert_skill
0            Count_Data_Analysis_and_Visualization_off
1                 Count_Learning_Foreign_Languages_off
2           Count_Time_Management_and_Organization_off
3                            Count_DIY_and_Repairs_off
4           Count_Financial_Planning_and_Budgeting_off
..                                                 ...
745            Count_Photography_and_Photo_Editing_off
746         Count_Financial_Planning_and_Budgeting_off
747           Count_Interpretation_and_Translation_off
748  Count_Music_instruments_Composition_and_Produc...
749  Count_Computer_and_Software_Application_Operat...

[750 rows x 1 columns]

In [46]:
concatenated_df = pd.concat([Count_df, expert_skill], axis=1)
concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_History_and_Social_Sciences_off,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Data_Analysis_and_Visualization_off
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Learning_Foreign_Languages_off
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Time_Management_and_Organization_off
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_DIY_and_Repairs_off
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Financial_Planning_and_Budgeting_off
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Photography_and_Photo_Editing_off
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Financial_Planning_and_Budgeting_off
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Interpretation_and_Translation_off
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Music_instruments_Composition_and_Produc...
749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Computer_and_Software_Application_Operat...

In [47]:
# For every user add a random number of lessons taught for his/her expert skill

for index, row in concatenated_df.iterrows():
    expert_skill = row['Expert_skill']
    matching_column = str(expert_skill)
    random_number = max(0, int(np.random.normal(10, 10)))
    concatenated_df.at[index, matching_column] = random_number

concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_History_and_Social_Sciences_off,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Data_Analysis_and_Visualization_off
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Learning_Foreign_Languages_off
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,Count_Time_Management_and_Organization_off
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_DIY_and_Repairs_off
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,Count_Financial_Planning_and_Budgeting_off
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Photography_and_Photo_Editing_off
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,Count_Financial_Planning_and_Budgeting_off
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Interpretation_and_Translation_off
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Music_instruments_Composition_and_Produc...
749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Computer_and_Software_Application_Operat...

In [48]:
concatenated_df_numeric = concatenated_df.apply(pd.to_numeric, errors='coerce')
numeric_columns = concatenated_df_numeric.select_dtypes(include=np.number)
concatenated_df['Sum_Skills_Off'] = numeric_columns.sum(axis=1)
concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill,Sum_Skills_Off
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Data_Analysis_and_Visualization_off,6.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Learning_Foreign_Languages_off,10.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,Count_Time_Management_and_Organization_off,2.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_DIY_and_Repairs_off,5.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,Count_Financial_Planning_and_Budgeting_off,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Photography_and_Photo_Editing_off,10.0
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,Count_Financial_Planning_and_Budgeting_off,4.0
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Interpretation_and_Translation_off,8.0
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Music_instruments_Composition_and_Produc...,3.0
749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Computer_and_Software_Application_Operat...,6.0

In [49]:
# Step 1: Calculate the sum of the "Sum_Skills_off" column
# Step 2: Generate random numbers for "Sum_Skills_rec" column
# Generate a random number between 80% and 120% of the corresponding value in "Sum_Skills_off" (to ensure a max deviation of 20%)
# Step 3: Adjust the values of the "Sum_Skills_rec" column to match the sum of "Sum_Skills_off"
# Randomly adjust values to match the sum of "Sum_Skills_off" (+ ensure the new value is not negative)


sum_skills_off_sum = concatenated_df['Sum_Skills_Off'].sum()

for index, row in concatenated_df.iterrows():
    min_value = int(0.8 * row['Sum_Skills_Off'])
    max_value = int(1.2 * row['Sum_Skills_Off'])
    if min_value < max_value:
        random_number = np.random.randint(min_value, max_value + 1)  
    else:
        random_number = min_value
    concatenated_df.at[index, 'Sum_Skills_Rec'] = random_number

sum_skills_rec_sum = concatenated_df['Sum_Skills_Rec'].sum()

difference = sum_skills_off_sum - sum_skills_rec_sum
if difference != 0:
    while difference != 0:
        index = np.random.randint(len(concatenated_df))
        current_value = concatenated_df.at[index, 'Sum_Skills_Rec']
        new_value = current_value + np.sign(difference)
        if new_value >= 0:  
            concatenated_df.at[index, 'Sum_Skills_Rec'] = new_value
            difference -= np.sign(difference)

concatenated_df

,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,Count_Photography_and_Photo_Editing_off,Count_Music_instruments_Composition_and_Production_off,Count_Writing_and_Editing_off,...,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Expert_skill,Sum_Skills_Off,Sum_Skills_Rec
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Data_Analysis_and_Visualization_off,6.0,6.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Learning_Foreign_Languages_off,10.0,11.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,Count_Time_Management_and_Organization_off,2.0,2.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_DIY_and_Repairs_off,5.0,7.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,NaN,NaN,Count_Financial_Planning_and_Budgeting_off,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Photography_and_Photo_Editing_off,10.0,11.0
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,Count_Financial_Planning_and_Budgeting_off,4.0,3.0
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Interpretation_and_Translation_off,8.0,7.0
748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Music_instruments_Composition_and_Produc...,3.0,3.0
749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Computer_and_Software_Application_Operat...,6.0,6.0

In [50]:
# Skills offered and received must be balanced
print(concatenated_df['Sum_Skills_Off'].sum())
print(concatenated_df['Sum_Skills_Rec'].sum())

7629.0
7629.0

In [51]:
concatenated_df.drop(columns=['Expert_skill'], inplace=True)
concatenated_df.to_csv('Track_Record.csv', index=False)