In [13]:
import pandas as pd

In [14]:
df = pd.read_csv(r'C:\Users\Johannes\Documents\ws24-skillswap\DS\01_Notebooks\01_Synthetic_Data_Set\Skillswap_Data_Raw.csv')

df.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,...,Sports,Food,Technology,Photo,Video,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,Tymon,tymon.giolitti@1und1.de,26,Male,Local or Remote,52.425343,13.695938,Germany,Berlin,"['Punjabi', 'Polish']",...,NaN,NaN,NaN,NaN,NaN,Neutral or Average,Dissatisfied,Dissatisfied,Very Satisfied,Neutral or Average
1,Benito,benito.guichard@gmail.com,23,Female,Local or Remote,52.472685,13.562493,Germany,Berlin,"['Portuguese', 'Arabic']",...,NaN,NaN,NaN,NaN,NaN,Satisfied,Very Satisfied,Neutral or Average,Satisfied,Satisfied
2,Eryk,eryk.renault@t-online.de,30,Female,Local or Remote,52.651681,13.713052,Germany,Berlin,['French'],...,NaN,NaN,10.0,NaN,NaN,Satisfied,Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied
3,Graeme,graeme.pizziol@protonmail.com,30,Female,Local or Remote,52.459891,13.192676,Germany,Berlin,['Mandarin Chinese'],...,NaN,NaN,NaN,NaN,NaN,Very Satisfied,Neutral or Average,Satisfied,Satisfied,Very Satisfied
4,Antonino,antonino.miranda@protonmail.com,25,Male,Local or Remote,52.567783,13.705778,Germany,Berlin,"['Arabic', 'Spanish', 'Punjabi', 'Turkish']",...,NaN,NaN,NaN,NaN,NaN,Neutral or Average,Very Satisfied,Neutral or Average,Neutral or Average,Neutral or Average

In [15]:
# Label Data with Activity Status

df['Activity_Status'] = ""

average_sum_skills = df['Sum_Skills_Off'].mean()
df['Sum_Skills_Off_ab_avg'] = df['Sum_Skills_Off'].apply(lambda x: 1 if x > average_sum_skills else 0)

for index, row in df.iterrows():
    if row['Last_Seen'] in ["Recently", "Today", "Yesterday", "Within a Week"] and \
            row['Response_Time'] in ["Within 24 hours", "Within a week"] and \
            row['Sum_Skills_Off_ab_avg'] == 1:
        df.at[index, 'Activity_Status'] = "Swapper"
    elif row['Last_Seen'] in ["Recently", "Today", "Yesterday", "Within a Week"] and \
            row['Response_Time'] in ["Within 24 hours", "Within a week"] and \
            row['Sum_Skills_Off_ab_avg'] == 0:
        df.at[index, 'Activity_Status'] = "Active User"
    elif row['Last_Seen'] == "Within a Month" or row['Response_Time'] == "Within a month":
        df.at[index, 'Activity_Status'] = "Occasional User"
    elif row['Last_Seen'] == "Over a Month Ago" or row['Response_Time'] == "More than a month":
        df.at[index, 'Activity_Status'] = "Inactive"
    else:
        df.at[index, 'Activity_Status'] = pd.NA 

df.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,...,Technology,Photo,Video,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support,Activity_Status,Sum_Skills_Off_ab_avg
0,Tymon,tymon.giolitti@1und1.de,26,Male,Local or Remote,52.425343,13.695938,Germany,Berlin,"['Punjabi', 'Polish']",...,NaN,NaN,NaN,Neutral or Average,Dissatisfied,Dissatisfied,Very Satisfied,Neutral or Average,Swapper,1
1,Benito,benito.guichard@gmail.com,23,Female,Local or Remote,52.472685,13.562493,Germany,Berlin,"['Portuguese', 'Arabic']",...,NaN,NaN,NaN,Satisfied,Very Satisfied,Neutral or Average,Satisfied,Satisfied,Occasional User,0
2,Eryk,eryk.renault@t-online.de,30,Female,Local or Remote,52.651681,13.713052,Germany,Berlin,['French'],...,10.0,NaN,NaN,Satisfied,Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Swapper,1
3,Graeme,graeme.pizziol@protonmail.com,30,Female,Local or Remote,52.459891,13.192676,Germany,Berlin,['Mandarin Chinese'],...,NaN,NaN,NaN,Very Satisfied,Neutral or Average,Satisfied,Satisfied,Very Satisfied,Inactive,1
4,Antonino,antonino.miranda@protonmail.com,25,Male,Local or Remote,52.567783,13.705778,Germany,Berlin,"['Arabic', 'Spanish', 'Punjabi', 'Turkish']",...,NaN,NaN,NaN,Neutral or Average,Very Satisfied,Neutral or Average,Neutral or Average,Neutral or Average,Swapper,1

In [16]:
# Check NA Values
empty_values = df['Activity_Status'].isna().sum()

print("Number of empty values in the 'Activity_Status' column:", empty_values)

Number of empty values in the 'Activity_Status' column: 0

In [17]:
# Count unique values
activity_status_counts = df['Activity_Status'].value_counts()

print("Count of unique values in the 'Activity_Status' column:")
print(activity_status_counts)

Count of unique values in the 'Activity_Status' column:
Activity_Status
Occasional User    264
Swapper            233
Active User        208
Inactive            95
Name: count, dtype: int64

In [18]:
df.to_csv('Skillswap_Data_Activity_Status.csv', index=False)