In [1]:
import pandas as pd

In [2]:
# Import DataFrames from CSV files
Skill_Exchange_Offered_uncleaned = pd.read_csv('Skill_Exchange_Offered.csv')
Skill_Exchange_Offered = Skill_Exchange_Offered_uncleaned.drop(columns=["Expert_skill", "Matched_skills_samples"])
Skill_Exchange_Demanded = pd.read_csv('Skill_Exchange_Demanded.csv')


# Concatenate DataFrames horizontally
Skill_Exchange = pd.concat([Skill_Exchange_Offered, Skill_Exchange_Demanded], axis=1)

Skill_Exchange.head()

,Farming_off,Fishery_off,Gardening_off,Pet grooming_off,Pet training_off,Drawing_off,Painting_off,Sculpture_off,Print making_off,Poetry_off,...,Photo editing_dem,Lighting_dem,Landscape photography_dem,Portrait photography_dem,Image processing_dem,Video editing_dem,Film making_dem,Animation_dem,Motion graphics_dem,Visual effects_dem
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,1,1,1,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [3]:
Skill_Exchange.to_csv('Skill_Exchange.csv', index=False)